<h2> Lista de Categorias: </h2>
<hr>
<a href="/admin/categorias/criar"><button class="btn btn-success">Nova Categoria </button></a>
<br>

{{#each categorias}}
<br>
<div class="card">
  <div class="card-body mt-4">
    <h4>{{name}}</h4>
    <small>{{slug}}</small><br>
    <small>{{date}}</small><br>
    <a href="/admin/categorias/edit/{{_id}}" class="btn btn-success mt-4">Editar Categoria</a>
    <form action="/admin/categorias/deletar" method="POST">
      <input type="hidden" name="id" value="{{_id}}">
      <button type="submit" class="btn btn-danger"> Deletar Categoria</button>
    </form>
  </div>
</div>
{{else}}
  <h4 class="MT-3"> NENHUMA CATEGORIA REGISTRADA </h4>
{{/each}}